#edition-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-size: 18px;
}

#portfolio {
  margin-top: 100px;
}

.title-wrapper {
 position: relative;
}

#portfolio h2 {
  margin-top: 0;
}

.btn-modifier {
  position: absolute;
  right: 360px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fffef8;
  border: none;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

