/* =============Style du portfolio ============= */

#portfolio h2 {
	text-align: center;
	margin-top: 3em;
}

/* ============= Style des boutons des filtres ============= */

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
	gap: 1em;
}

.btn-filter {
	background-color: var(--background-color);
	padding: 0 2em;
	width: auto;
	border:1.5px solid var(--green-color);
	color: var(--green-color);
}

.btn-filter:hover {
	background-color: var(--green-color);
	color: var(--background-color);
	cursor: pointer;
}

.btn-filter.active {
	background-color: var(--green-color);
	color: var(--background-color);
}

/* =============Style de la gallery ============= */

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
