#edition-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 20px;
  font-size: 18px;
}

#portfolio {
  margin-top: 100px;
}

.mode-edit-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  position: relative;
}

#portfolio h2 {
  margin: 0;
}

.btn-modifier {
  margin-left: 320px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--background-color);
  border: none;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

/* Suppression du focus visible du bouton modifier */
.btn-modifier:focus {
  outline: none;
}