/* =============Style de la page de connexion ============= */

html,
body {
	height: 100vh;
	/* 100% de la hauteur de la fenêtre */
	position: relative;
	overflow-y: hidden;
}

footer {
	background-color: var(--white-color);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
}

footer nav ul li {
	cursor: pointer;
}

#login {
	width: 40%;
	margin: auto;
}

#login>* {
	text-align: center;

}

#login h2 {
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1em;
	font-family: "Work Sans", sans-serif;
	padding-left: 10px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* Test pour changer la couleur du background quand on focus sur l'input email et mot de passe = non fonctionnel*/
#login input,
#login input:focus,
#login input:webkit-autofill,
#login input:-internal-autofill-selected {
	background-color: var(--white-color) !important;
}

#login label {
	margin: 2em 0 1em 0;
}

#submit-loginBtn {
	margin: 3em auto 2em auto;
}

.forgot-password {
	text-decoration: underline;
	cursor: pointer;
}

#error-message {
	color: var(--red-color);
	font-size: 1.2em;
	margin-top: 1em;
	text-align: center;
}