.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Noir semi-transparent */
  z-index: 1000;
  cursor: pointer;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white-color);
  padding: 1.5rem 1.5rem 2rem 1.5rem;
  border-radius: 8px;
  z-index: 1001;
  /* au-dessus de l'overlay */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 40vw;
  height: 80vh;
  max-width: 500px;
  /* limite sur grands écrans */
  max-height: 500px;
  /* limite sur petits écrans */
  border-radius: 10px;
  overflow: auto;
  /* Activer le défilement si nécessaire */
}

.hidden {
  display: none;
}

.modal-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  color: var(--black-color);
  font-size: 20px;
  transition: color 0.2s ease;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--grey-color);
  text-decoration: none;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--black-color);
  font-size: 20px;
  transition: color 0.2s ease;
}

.back-btn:hover,
.back-btn:focus {
  color: var(--grey-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-content h1 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: var(--black-color);
  margin-top: 2rem;
}

.edit {
  margin: 0 4rem;
  height: 100%;
}

.gallery-edit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  /* largeur min */
  gap: 1rem;
  /* espace entre les images */
  margin: 4rem;
}

/* Styles spécifiques aux figures dans la modale */
.gallery-edit figure {
  position: relative;
  margin: 0;
  /* on retire la marge par défaut de figure */
  padding: 0;
  max-width: 100%;
  /* ne dépasse pas la largeur dispo */
}

.gallery-edit img {
  display: block;
  max-width: 100%;
  /* image ne déborde pas du conteneur */
  height: auto;
  /* conserve les proportions */
  width: 100%;
  cursor: pointer;
}

.gallery-edit figure:hover figcaption {
  opacity: 1;
}

.gallery-edit figcaption {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  color: var(--light-grey-color);
  text-align: center;
  transition: opacity ease-in-out 0.5s;
  opacity: 0;
  background-color: rgba(39, 36, 36, 0.717);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.supprPhotoIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--nuance-white-color);
  font-size: 10px;
  cursor: pointer;
  padding: 3px;
  background-color: var(--black-nuance-color);
  border-radius: 3px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid var(--grey-color);
  padding-top: 1.5rem;
  /* espace entre la barre et le bouton */
  text-align: center;
  width: 75%;
}

/*  boutons des modales */
#addPhotoBtn,
#submit-addPhotoBtn {
  width: 237px;
}

/* Formulaire d'ajout de photo */

#modal-add-photo .modal-content {
  align-items: stretch;
}
#modal-add-photo .edit {
  margin-top: 1rem;
}

#modal-add-photo form {
  position: relative;
}

.uploadPhoto {
border-radius: 3px;
background-color: var(--light-blue-color);
transition: border-color 0.3s ease;
height: 18vh;
box-shadow: inset 0px 0px 14px rgba(0, 0, 0, 0.09);
border-radius: 3px;
}

.uploadPhoto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#iconeImage {
  display: block;
  object-fit: cover;
  filter: invert(106%) sepia(3%) saturate(52%) hue-rotate(153deg) brightness(300%) contrast(85%);
}

#uploadedImage {
  display: block;
  max-height: 18vh;
  object-fit: cover;
  margin: 0 auto;
}

.uploadPhoto-container button {
  display: block;
  height: 2rem;
  width: 10rem;
  margin: 0 auto;
  background-color: var(--grey-blue-color);
  font-size: 0.9rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: var(--dark-blue-color);
  cursor: pointer;
    
  &:hover {
    background-color: var(--grey-color);
  }

  &:active {
    transform: scale(0.95);
  }
}

.uploadPhoto-container small {
  font-size: 0.7rem;
  color: var(--black-nuance-color);
}

#modal-add-photo input[type="text"],
#modal-add-photo select {
  height: 4.5vh;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 1rem;
}

/* Style pour le select avec chevron personnalisé */

/* On créer un select-container car on ne peut pas mettre d'élément en after directement dans un select, car le <select> est un élément natif complexe, il ne contient pas d’enfants HTML custom. */
.select-container {
  position: relative;
  display: block;
  width: 100%;
}

.select-container::after {
  content: "\f078"; /* Code Unicode pour chevron-down de Font Awesome */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: var(--black-nuance-color);
  font-size: 0.8em;
  cursor: pointer; /* Curseur pointer sur le chevron */
  z-index: 1;
}

/* On enlève la flèche de la sélection */
.select-container select {
  appearance: none;          /* Pour Firefox, Edge, etc. */
  -webkit-appearance: none;  /* Pour Chrome, Safari */
  -moz-appearance: none;     /* Pour Firefox */
  position: relative;        /* pour que le select prenne toute la largeur */
  padding-right: 35px;       /* Espace pour le chevron */
  width: 100%;               /* Prend toute la largeur du container */
}

#modal-add-photo label {
  margin: 1em 0 0.5em 0;
}

#submit-addPhotoBtn {
  background-color: var(--dark-grey-color);
  
  &:hover {
    background-color: var(--green-color);
  }
}